
/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-size: 60px;
/*     max-width: 1024px;*/
}

/******************************************
/* MTA COMMUTER SITE LAYOUT
/*******************************************/

/* Header Area*/

header {
     background-color: #fac90f;
}

ul { 
     margin:0; 
}

.tempcontainer {
     width: 93.75%;
     margin: 0 auto;
}

.logo {
     margin-top: 30px;     
     margin-left: 4.101%;
}

.navigation {
     margin-top: -10px;
     margin-right: 4.101%;
     width: 82%;
     display:inline-block;
}

.secondary-nav {
     display: inline-block;
     margin-right: 0;
     margin-left: 12px;
}

.main-nav {
     display: inline-block;
     margin: 0;
}

.nav-underline {
     width: 100%;
     height: 8px;
     background-color: #000000;
     margin-right: 0;
     margin-left: 0;
     margin-top: 132px;
}

.main-item:link, .main-item:visited {
     text-decoration: none;
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: bold;
     font-size: 0.3em;/* 18px;*/
     color: #000;
     padding-left: 2px;     
     margin-left: 1px;
     margin-right: 0;
     text-align: justify;
     width: 72.265%;
}

.main-item:hover, .main-item:active {
    text-decoration: none;
    color: #626261;
}

.font-awesome:link, .font-awesome:visited {
     text-decoration: none;
     color: #000; 
     font-size: 0.3em;/* 18px;*/
     padding-left: 1px;     
     margin-left: 1px;
     margin-right: 0;
}

.font-awesome:hover, .font-awesome:active {
    text-decoration: none;
    color: #626261;
}

.secondary-item:link, .secondary-item:visited {
     text-decoration: none;
     font-family: "Roboto", Helvetica, san-serif;
     font-size: 0.233em; /*14px;*/
     color: #000;
}

.secondary-item:hover, .secondary-item:active {
    color: #626261;
    text-decoration: none;
}

/* Main Content Area*/

.main-content {
     background-color: #fac90f;
     padding-top: 2px;
}

.main-content-tempsizer {
     width: 93.75%;
     margin: 0 auto; 
}

.service-status {
     width: 240px;
     margin-left: 4.101%;
     margin-top: 40px;
     margin-bottom: 42px;
     margin-right: 6%;
     font-size: 0;
}

.service-image {
     padding-bottom: 2px;
}

.subway-colps {
     display: none;
}

.bus-exp {
     display: none;
}

.lirr-exp {
     display: none;  
}

.metro-exp {
      display: none;    
}

.bridges-exp {
     display: none;      
}

.trip-planner {
     margin-left: 0;
     margin-right: 0;
     padding-bottom: 6.25%;
     overflow: hidden;
     font-size: 0;
}

.tp-toprow {
     display: inline-block;
     margin: 0px 0 30px 0;
}

.tp-header {
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 700;
     font-size: 60px;
     color: #fff;
     margin-bottom: 10px;
     margin-top: 60px;
}

.dropdown {
     width: 25%;
}

#one-way {
     background-color: rgba(176, 142, 12, 0.5);
     border: solid 3px rgba(176, 142, 12, 0.5);
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 500;
     font-size: 14px; /*0.233em; */
     color: #fff;
     width: 140px;
     height: 35px;
     margin-right: 0;
     margin-top: 10px;
}

#round-trip {
     background-color: #fac90f;
     border: solid 3px rgba(176, 142, 12, 0.5);
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 500;
     font-size: 14px; /*0.233em; */
     color: #fff;
     width: 140px;
     height: 35px;
     margin-left: 0;
     margin-top: 10px;
}

.disclaimer {
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 300;
     font-size: 12px; /*0.2em;*/
     color: #fff;
}

.tp-column1 {
     overflow: hidden;
     width: 44%;
}

.tp-column2 {
     overflow: hidden;
     width: 44%;
     margin-right: 42px;
}

.form-headers {
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 500;
     font-size: 16px;/*  0.266em; */
     color: #fff;
     margin-top: 30px;
}

.form-headers-like {
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 500;
     font-size: 16px;/*  0.266em; */     
     color: #fff;
     margin-top: 30px;
}

.form-subheaders {
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 400;
     font-size: 16px;/*  0.266em; */
     color: #fff;
}

.spacer {
     margin: 30px;
}

.spacer2 {
     margin-right: 20px;
}

.field {
     width: 100%;
     height: 30px;
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 400;
     font-size: 12px;/* 0.2em; */
     padding-left: 6px;
     border: none;
}

.radiobuttn {
     font-size: 12px;/* 0.2em; */
     margin: 0px 12px 4px 2px;
     padding-top: 2px;
}

select {
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 400;
     font-size: 12px;/* 0.2em; */
     margin-top: 12px;
     margin-right: 4px;
}

.letsgo-btn {
     width: 35%;
     height: 40px;
     border: solid 3px #000000;
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 700;
     font-size: 18px;
     color: #000000;
     background-color: #fac90f;
     margin-top: 40px;
     text-decoration: none;
}

.peopleicon {
     margin-right: 4.375%;
     width: 42%;
}

/*Drop Down*/

.expd-no-planner {
     background-color: #fac90f;
     padding-top: 4px;
     padding-bottom: 60px;
     text-align: center;
     margin: 0 auto;
     display: none;
}

.trip-planner-not {
     font-size: 0.5em; 
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 700;
     text-align: center;
     color: #fff;
     margin-top: 20px;
}

.get-that-pizza {
     margin: 0 auto;
     text-align: center;
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 400;
     font-size: 16px;/*  0.266em; */
     line-height: 20px;
     color: #fff;
     width: 40%;
}

.email-field {
     width: 24%;
}

.pizza-submit {
     width: 24%;
     height: 40px;
     border: solid 3px #000000;
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 700;
     font-size: 18px;
     color: #000000;
     background-color: #fac90f;
     margin-top: 10px;
     margin-bottom: 60px;
     text-decoration: none;
}

/* Tourist Call Out */
.tourists {
     background-color: #2850b9;
     height: 110px;
}

.tourist-holder {
     width: 93.75%;
     margin: 0 auto;
}

.bottom-cta {
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 500;
     font-size: 0.533em; /*32px*/
     color: rgba(255, 255, 255, 1.0);
     margin-right: 30%;
     margin-top: 38px;
}

.touristicon {
     margin-left: 23.125%;
}

/* Footer */
footer {
     background-color: #000;
     height: 200px;
}

.footer-holder {
     width: 93.75%;
     margin: 0 4.101%;
}

.footer-nav-item {
     display: inline-block;
     padding-top: 52px;
     padding-bottom: 22px;
     font-size: 0.233em; /*14px;*/
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 500;
     color: #fff;
     margin-left: 4px;
     margin-right: 4px;
}

.footer-legal {
     padding-top: 20px;
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 300;
     font-size: 0.2em; /*12px;*/
     color: #d2cece;
     text-align: right;
     line-height: 14px;
}

.footer-btn {
     width: 182px;
     height: 40px;
     background-color: #000;
     border: solid 1px #f8f7f7;
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 500;
     font-size: 0.266em; /*16px;*/
     color: #fff;
     margin-right: 20px;
}

#footer-line-items {
     margin-top: 0;
     padding-left: 8px;
     background-color: #000;

}

.last-footer-row {
     background-color: #000;
}

/******************************************
/* MTA CORP SITE LAYOUT
/*******************************************/

/* Header Area*/

.corp-maincontent {
     width: 93.75%;
     margin: 0 auto; 
}

.corp-container {
     height: 680px;
     width: 100%;
     background-image: url(../images/corpheader.png);
     background-size: cover;
     background-position: center;
}

.secondary-nav-corp {
     display: inline-block;
     margin-right: 0;
     margin-left: 12px;
}

.font-awesome-corp:link, .font-awesome-corp:visited {
     text-decoration: none;
     color: #fff; 
     font-size: 0.3em;/* 18px;*/
     padding-left: 2px;     
     margin-left: 1px;
     margin-right: 0;
}

.font-awesome-corp:hover, .font-awesome-corp:active {
    text-decoration: none;
    color: #d1d1d1;
}

.secondary-item-corp:link, .secondary-item-corp:visited {
     text-decoration: none;
     font-family: "Roboto", Helvetica, san-serif;
     font-size: 0.233em;/* 14px;*/
     color: #fff;
}

.secondary-item-corp:hover, .secondary-item-corp:active {
    text-decoration: none;
    color: #d1d1d1;
}

.main-nav-corp {
     display: inline-block;
     margin: 0;
}

.main-item-corp:link, .main-item-corp:visited {
     text-decoration: none;
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: bold;
     font-size: 0.3em;/* 18px;*/
     color: #fff;    
     padding-left: 14px;
     margin-right: 0;
     text-align: justify;
     width: 72.265%;
}

.main-item-corp:hover, .main-item-corp:active {
    text-decoration: none;
    color: #d1d1d1;
}

.nav-underline-corp {
     width: 100%;
     height: 8px;
     background-color: #fff;
     margin-right: 0;
     margin-left: 0;
     margin-top: 132px;
}

.headline-corp {
     margin-top: 0;
     padding-top: 23.437%;
     width: 78.125%;
     text-align: left;
     font-size: 0.833em; /*50px;*/
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 300;
     line-height: 60px;
     color: #fff;
     margin-left: 42px;
}

.see-how-btn {
     width: 220px;
     height: 50px;
     border: solid 2px #f8f7f7;
     font-size: 0.3em; /*18px;*/
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 400;
     color: #fff;
     background: transparent;
     margin-left: 4.101%;
}

/* News Area*/
.whats-new {
     width: 940px;
     margin: 0 auto; 
}

.subhead-corp {
     font-size: 0.6em; /*36px;*/
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 300;
     text-align: center;
     color: #8e8c8c;
     margin-top: 50px;
}

.load-more {
     width: 220px;
     height: 50px;
     font-size:  0.3em; /*18px;*/
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 400;
     color: #8e8c8c;
     border: solid 1px #8e8c8c;
     text-align: center;
     background: transparent;
     margin-top: 50px;
     margin-bottom: 50px;
     margin-left: 37.5%;
}

/* News Row 1*/

.news-item {
     width: 220px;
     height: 220px;
     background-size: cover;
     background-position: center;
     padding: 15px 15px;
     margin-top: 20px;
}

.news-row3 {
     display: none;
}

.article-date{
     font-size: 14px;
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 700;
     color: #fff;
     margin-top: 10px;
}

.article-title {
     font-size: 24px;
     line-height: 26px;
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 300;
     color: #fff;
     margin-top: 10px;
}

.item1 {
     background-image: url(../images/improve-the-6.png);
     margin-right: 20px;
}

.item2 {
     background-image: url(../images/stgeorge-terminal.png);
     margin-right: 20px;
}

.item3 {
     background-image: url(../images/77-kiosks.png);
     margin-right: 20px;
}

.item4 {
     background-image: url(../images/mta-police.png);
     margin-right: 0;
}

.item5 {
     background-image: url(../images/grand-central-term.png);
     margin-right: 20px;
}

.item6 {
     background-image: url(../images/from-tf-prendergast.png);
     margin-right: 20px;
}

.item7 {
     background-image: url(../images/hoverboards.png);
     margin-right: 20px;
}

.item8 {
     background-image: url(../images/lirr-main-line.png);
     margin-right: 0;
}

.item9 {
     background-image: url(../images/fixing-the-ltrain.png);
     margin-right: 20px;
}

.item10 {
     background-image: url(../images/hugh-l-carey-tunnel.png);
     margin-right: 20px;
}

.item11 {
     background-image: url(../images/strip-map-7train.png);
     margin-right: 20px;
}

.item12 {
     background-image: url(../images/farewell-neil.png);
     margin-right: 0;
}

/* Job Area*/

.jobs-corp {
     background-color: #00923b;
     height: 110px;
     margin: 0 auto;
}

.bottom-cta-corp {
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 500;
     font-size: 0.466em; /*28px*/
     color: #fff;
     padding-top: 37px;
     text-align: center;
}

/* Footer Area*/

#corp-footer-sizer {
     background-color: #000;
     height: 120px;
}

.footer-legal-corp {
     margin-top: 40px;
     font-family: "Roboto", Helvetica, san-serif;
     font-weight: 300;
     font-size: 0.2em;/* 12px;*/
     color: #d2cece;
     text-align: right;
     line-height: 14px;
}


